*, html, head, body {
    font-family: 'Poppins', serif;
    /* background-color: #161c2d; */
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.5px;
}

main {
    min-height: 100vh;
}

p {
    font-size: 14px;
}

.border-bottom {
    border-bottom: 1px solid #444c54 !important;
}

.card {
    background: #ffffff10;
}